@import "./color";

// 页面整体样式设置
.container {
  min-height: 100vh;
  background-color: @bgColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


// 搜索框
.search-box {
  background: #FFFFFF;
  padding: 10rpx 50rpx;
  position: relative;
  .comment-input {
    width: 650rpx;
    padding: 10rpx 20rpx;
    background: @bgColor;
    border-radius: 50rpx;
  }
  .search-content {
    width: 180rpx;
    display: flex;
    justify-content: center;
    margin: 20rpx 25rpx;
    border-radius: 50rpx;
    position: absolute;
    top: 5rpx;
    left: 235rpx;
    z-index: 1000;
    .search-icon {
      width: 33rpx;
      height: 33rpx;
      margin-right: 20rpx;
    }
    .search-text {
      color: @ABColor;
    }
  }
}


// 头部筛选条件
.list-row {
  background: #FFFFFF;
  padding:  20rpx 30rpx 20rpx 30rpx;
  width: 690rpx;
  display: flex;
  justify-content: space-between;
  .row-item {
    display: flex;
    align-items: center;
    .text {
      color: #666666;
      font-size: 24rpx;
      font-weight: 400;
    }
    .icon {
      width: 20rpx;
      height: 20rpx;
      margin-left: 10rpx;
    }
  }
}


.text-overflow {
  white-space: normal;
  overflow: hidden; // 超出的文本隐藏
  word-break: break-word;  // 英文换行
  text-overflow: ellipsis;    // 溢出用省略号显示
  display: -webkit-box; // 将对象作为弹性伸缩盒子模型显示。
  -webkit-box-orient: vertical; // 从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
  -webkit-line-clamp: 2; // 这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。
}


// 文章列表的样式
.article-box-box {
  .article-box {
    display: flex;
    margin: 0 20rpx 10rpx 20rpx;
    border-bottom: 1rpx #A5A3A3 solid;
    &:first-child {
      margin-top: 20rpx;
    }
    &:last-child {
      border-bottom: none;
    }
    .article-left {
      position: relative;
      .article-img {
        width: 160rpx;
        height: 160rpx;
        margin: 0 45rpx 0 23rpx;
      }
      .video-icon {
        width: 50rpx;
        height: 50rpx;
        position: absolute;
        top: 55rpx;
        left: 78rpx;
      }
    }
    .article-right {
      .article-title {
        color: #333333;
        line-height: 33rpx;
      }
      .article-text {
        color: @ABColor;
        font-weight: 400;
      }
      .article-row {
        display: flex;
        margin-top: 5rpx;
        .time {
          flex: 1;
          text-align: left;
          color: #B1B1B1;
        }
        .icon-num {
          display: flex;
          align-items: center;
          margin-left: 30rpx;
          .icon {
            width: 24rpx;
            height: 24rpx;
            margin-right: 8rpx;
          }
          .num {
            color: @greyColor;
            font-size: 20rpx;
            &.active {
              color: @mainColor;
            }
          }
        }
      }
    }
  }
}


// 顶部固定数量的 nav fixed
.nav-list {
  position: fixed;
  z-index: 10000;
}


// 退款、收货地址等页面的头部商品信息
.top-product-box {
  background: #FFFFFF;
  padding: 20rpx 30rpx 20rpx 50rpx;
  margin: 20rpx 0;
  display: flex;
  .product-left {
    .product-img {
      width: 100rpx;
      height: 100rpx;
      margin-right: 30rpx;
    }
  }
  .product-right {
    display: flex;
    flex-direction: column;
    .name {
      font-weight: 500;
      line-height: 32rpx;
    }
  }
}
.row {
  display: flex;
  align-items: flex-start;
  .copy-img {
    width: 30rpx;
    height: 30rpx;
    margin: 0 10rpx 15rpx 0;
  }
}
.text-box {
  background: #FFFFFF;
  padding: 20rpx 30rpx 20rpx 50rpx;
}
.text {
  color: @666Color;
  font-size: 24rpx;
  font-weight: 400;
  margin-bottom: 15rpx;
}
.price {
  color: @priceColor;
}


// 输入框加上传图片的样式
.text-media {
  width: 670rpx;
  padding: 31rpx 40rpx 34rpx 40rpx;
  background: #FFFFFF;
  margin: 20rpx 0 60rpx 0;
  .text-input {
    width: 590rpx;
    height: 200rpx !important;
    line-height: 35rpx;
    padding: 30rpx;
    border: 2rpx #BDC3C7 solid;
    border-radius: 6rpx;
  }
  .media-box {
    .add-icon {
      width: 220rpx;
      height: 220rpx;
      margin: 20rpx 20rpx 0 0;
    }
  }
}


// 底部提交按钮的样式
.submit {
  color: @mainColor;
  width: 750rpx;
  line-height: 100rpx;
  text-align: center;
  box-shadow: 0 -1rpx 6rpx rgba(0,0,0,0.16);
  background: #FFFFFF;
  position: fixed;
  bottom: 0;
}
