@import "./color";

//页面整体样式设置
.container {
  min-height: 100vh;
  background-color: @bgColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

//搜索框
.search-box {
  background: #FFFFFF;
  padding: 10rpx 50rpx;
  position: relative;
  .comment-input {
    width: 650rpx;
    padding: 0 20rpx;
    background: @bgColor;
    border-radius: 50rpx;
  }
  .search-content {
    width: 180rpx;
    display: flex;
    justify-content: center;
    margin: 18rpx 25rpx;
    border-radius: 50rpx;
    position: absolute;
    top: -5rpx;
    left: 235rpx;
    z-index: 1000;
    .search-icon {
      width: 33rpx;
      height: 33rpx;
      margin-right: 20rpx;
    }
    .search-text {
      color: @ABColor;
    }
  }
}

.text-overflow {
  white-space: normal;
  overflow: hidden; // 超出的文本隐藏
  word-break: break-word;  // 英文换行
  text-overflow: ellipsis;    // 溢出用省略号显示
  display: -webkit-box; // 将对象作为弹性伸缩盒子模型显示。
  -webkit-box-orient: vertical; // 从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
  -webkit-line-clamp: 2; // 这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。
}
