@import "./color";

// 定义一些通用的样式
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}

.ft-b {
  font-weight: bold;
}

.ft-20 {
  font-size: 20rpx;
}
.ft-22 {
  font-size: 22rpx;
}
.ft-24 {
  font-size: 24rpx;
}
.ft-26 {
  font-size: 26rpx;
}
.ft-28 {
  font-size: 28rpx;
}
.ft-30 {
  font-size: 30rpx;
}
.ft-32 {
  font-size: 32rpx;
}
.ft-34 {
  font-size: 34rpx;
}
.ft-36 {
  font-size: 36rpx;
}
.ft-48 {
  font-size: 48rpx;
}
.ft-60 {
  font-size: 60rpx;
}

.cf666 {
  color: @666Color;
  font-size: 24rpx;
}



// 课程名称
.course-name {
  font-size: 28rpx;
  font-weight: bold;
  overflow: hidden; // 超出的文本隐藏
  word-break: break-word;  // 英文换行
  text-overflow: ellipsis;    // 溢出用省略号显示
  display: -webkit-box; // 将对象作为弹性伸缩盒子模型显示。
  -webkit-box-orient: vertical; // 从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
  -webkit-line-clamp: 2; // 这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。
}
